nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 20px;
}

nav .logo-container img {
  width: 100%;
}

.nav-links ul {
  display: flex;
  gap: calc(1vw + 0.8rem);
}

.nav-links ul li {
  padding-inline: calc(0.5vw + 0.2rem);
}

.nav-links ul li a {
  transition: 0.09s;
}

.nav-links ul li a:hover {
  font-weight: 700;
  color: var(--primary-color);
}

.cta-container {
  display: flex;
  gap: calc(1vw + 0.8rem);
}
